@media screen and (max-width: 767px) {
	.product_title { font-size: 26px; 
		.normal {	  font-size: 21px; }
	}
	.product_text {  background: rgba(0,0,0,0.5); padding: 0 0 0 20px; float: left; width: 100%; margin-top: 15px;
		h3 { color: #F2F2F2; margin: 10px 0;  }
		p {  color: #FFFFFF; line-height: 1.24; text-shadow: 0 1px 0 rgba(0,0,0,0.5);}
	}
	a.see_full { color: #ECECEC; top: 0; display: block; }
	.social_icons { text-align: center;
		li { float: none; display: inline-block; }
	}
	.pad1 {padding: 20px; }
	.footer {padding: 10px 0 50px; }
	.company_slogans { border-right: 0; }
	.welcome_message {  padding-top: 0; font-size: 16px; }
	.carousel-caption img {float: left; max-width: 115px; }


}