@import "compass";
@import "compass/reset";


 // @import "animate.sass";

$spr-layout: smart;
@import "spr/*.png";
$revive-layout: smart;
@import "revive/*.png";
$revived-layout: smart;
@import "revived/*.png";
$imatrix-layout: smart;
@import "imatrix/*.png";



@mixin wh() {
    width:100%; 
    float: left;
}



@font-face {
    font-family: 'bank_gothicregular';
    src: url('fonts/bank_gothic_medium.eot');
    src: url('fonts/bank_gothic_medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/bank_gothic_medium.woff2') format('woff2'),
         url('fonts/bank_gothic_medium.woff') format('woff'),
         url('fonts/bank_gothic_medium.ttf') format('truetype'),
         url('fonts/bank_gothic_medium.svg#bank_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@mixin bank() {
    font-family: 'bank_gothicregular';
    
}